@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;500;700&family=Montserrat:wght@500;700&family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700&family=Titillium+Web:wght@600&display=swap');

.carouselContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 30rem;
    max-width: 100%;
    width: 70rem;
    border-radius: 0.8rem;
    border: 2px solid #ced4da;
    transition: 0.5s;
}

.carouselItem {
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    font-size: 3.2rem;
    color: #ced4da;
}

.carousel:hover {
    border: 2px solid #fd7e14;
    transition: 0.5s;
}

.carouselButton {
    color: #ced4da;
    transition: 0.5s;
}

.carouselButton:hover {
    color: #fd7e14;
    transition: 0.5s;
    cursor: pointer;
}

.carouselItem img {
    width: auto;
}

.carouselLeft {
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1.6rem;
}

.carouselTitle {
    flex: 1;
    color: #fd7e14;
    font-size: 2.4rem;
    font-weight: 600;
    flex-wrap: wrap;
}

.carouselDate {
    color: #fd7e14;
    flex: 1;
    font-size: 1.6rem;
    font-style: italic;
}

.carouselPosition {
    flex: 1;
    font-size: 2rem;
}

.carouselDescription {
    flex: 5;
    font-size: 1.6rem;
}

/*******************/
/* MEDIA QUERIES */
/*******************/

@media (max-width: 1115px) {
    .carousel {
        height: 33rem;
    }

    .carouselItem img {
        width: 27rem;
    }
}

@media (max-width: 1074px) {
    .carousel {
        height: 34rem;
    }

    .carouselItem img {
        width: 25rem;
    }
}

@media (max-width: 1052px) {
    .carousel {
        height: 36rem;
    }

    .carouselItem img {
        width: 24rem;
    }
}

@media (max-width: 989px) {
    .carousel {
        height: auto;
    }

    .carouselItem img {
        display: none;
    }
}